.demo-inline-calendar-card {
    /* width: 436px; */
    /* width: 100%; */
}

/* .date{
    margin-left: 2rem;
} */


@media (max-width: 475.98px) {
    .demo-inline-calendar-card {
        /* width: 364px; */
        width: 90%;
    }
    .date{
       margin-left: 0rem;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) {
    .demo-inline-calendar-card {
        width: 572px;
    }
    .date{
    margin-left: 0rem;
    }
  }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .demo-inline-calendar-card {
        width: 503px;
    }
    .date{
    margin-left: 16rem;
    }
 }


@media (min-width: 992px) and (max-width: 1024px) { 
    .demo-inline-calendar-card {
        width: 650px;
    }
    .date{
    margin-left: 11rem;
    }
 }


 @media (min-width: 1024px) and (max-width: 1550px){
    .demo-inline-calendar-card {
        width: 460px;
    }
    .date{
    margin-left: 22rem;
    }
   }
@media (min-width: 1200px) { 
    /* .demo-inline-calendar-card {
        width: 650px;
    }
    .date{
    margin-left: 20rem;
    } */
 }


