.content {
    background-color: white;
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px;
    height: 11.5rem;
    margin-bottom: 1rem;
    /* width:100%; */
    /* width: 902px; */
}

.content img {
    margin-left: 33rem;
    margin-top: -11rem;
    width: 12rem;
    height: 12rem
}


/* .content>img {
    width: 20% !important;
    margin-top: -7rem;
    margin-right: -41rem
} */

.content h3 {
    text-align: left;
    padding-left: 1rem;
}

.content p {
    text-align: left;
    padding-left: 1rem;
}

.content ul li {
    text-align: left;
}



@media only screen and (max-width:1300px) {
    .content img { 
        display:none;
    }
    img { 
        display:inline-block;
    }
}


@media (max-width: 475.98px) {
    .content {
        background-color: white;
        /* padding: 10px; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: 10px;
        height: 11.5rem;
        margin-bottom: 1rem;
        width: 382px;
        /* width:100%; */
        /* width: 902px; */
    }
    
 }


@media (min-width: 576px) and (max-width: 767.98px) {  
    .content {
        background-color: white;
        /* padding: 10px; */
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: 10px;
        height: 11.5rem;
        margin-bottom: 1rem;
        width: 595px;
        /* width:100%; */
        /* width: 902px; */
    }
  
}


@media (min-width: 768px) and (max-width: 991.98px) { 

 }


@media (min-width: 992px) and (max-width: 1024px) { 

   
    .content h3 {
        text-align: left;
        padding-left: 20rem;
    }
    
    .content p {
        text-align: left;
        padding-left: 20rem;
    }
    .content ul li {
        text-align: left;
        padding-left: 17.4rem;
    }
 }

 @media (min-width: 1024px) and (max-width: 1550px){
      .content h3 {
        text-align: left;
        padding-left: 20rem;
    }
    
    .content p {
        text-align: left;
        padding-left: 20rem;
    }
    
    .content ul li {
        text-align: left;
        padding-left: 19rem;
    }
 }
@media (min-width: 1200px) { 
   
    /* .content h3 {
        text-align: left;
        padding-left: 6rem;
    }
    
    .content p {
        text-align: left;
        padding-left: 6rem;
    }
    
    .content ul li {
        text-align: left;
        padding-left: 3.4rem;
    } */
 }