<div class="container">
  <nav><h1>Dashboard</h1>
    <app-navbar></app-navbar>
  </nav>
  <main> <app-main></app-main></main>
  <div id="sidebar"> <app-sidebar></app-sidebar></div>
  <div id="content1"><app-card></app-card></div>
  <div id="content2"><app-analytics></app-analytics></div>
  <div id="content3"><app-down></app-down></div>
  <div id="content4"><app-month></app-month></div>
  <div id="content5"><app-statistics></app-statistics></div>
  <div id="content6"><app-earn></app-earn></div>
  <div id="content7"><app-invoices></app-invoices></div>
  <div id="content9"><app-status></app-status></div>
  <div id="content10"><app-calender></app-calender></div>
</div>

<!-- How to Integrate Chart.js Using Angular 12 with Data from a REST API (2021) -->